<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <nav>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'Sign out', '#' %></li>
      <% else %>
        <li><%= link_to 'Sign in', new_user_registration_path%></li>
      <% end %>
    </ul>
  </nav>
  <p><%= notice %></p>
  <p><%= alert %></p>
  <body>
    <%= yield %>
  </body>
</html>
